.heading {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
}

.paragraph {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.job-heading {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 66px;
    margin-top: 130px;
    text-align: center;
}